<ion-content>
  <ion-card>
      <ion-text color="secondary">
         
          <h1>Welcome back</h1>
          <p>
              Login with your account
          </p>
      </ion-text>
    <!-- Input with placeholder -->
    <ion-input placeholder="Email"><ion-icon name="mail"></ion-icon></ion-input>
    <ion-input type="password" placeholder="Password"><ion-icon name="lock"></ion-icon></ion-input>
    <ion-button href="" expand="block">Log In</ion-button>
    <a href="#" class="fg-pass">Forgot password?</a>
  </ion-card>
  <ion-text class="footer">
    <p>
        Don't have an account? <a href="/signup">Join now</a>
    </p>
  </ion-text>
</ion-content>
