ion-content {
    --background: url(https://ak3.picdn.net/shutterstock/videos/5051543/thumb/12.jpg) no-repeat 80% center / cover; 
    &:before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 22.5%, rgba(0, 0, 0, 0.4) 46.33%, rgba(255, 255, 255, 0.1) 100%);
    }
    ion-text.back-header{
        padding: 15px 15px 30px;
        display: block;
        z-index: 2;
        position: relative;
        a{
            color: #fff;
            text-decoration: none;
            &.skip{
                float: right;
            }
            &:hover{
                color:  #ed8779;
            }
        }
    }
    ion-card{
      max-width: 100%;
      width: 80%;
      min-height: calc(100% - 125px);
      @media (min-width: 384px){
        max-width: 320px;
        width: 100%;
      }
      margin: 0 auto;
      box-shadow: none;
      -webkit-box-shadow: none;
      z-index: 2;
      ion-text{
        text-align: center;
        color: #fff;
      }
      ion-input {
        margin: 15px 0;
        padding: 5px 25px !important;
        border-radius: 5px;
        color: #fff;
        --background: rgba(255,255,255,0.2);
      }
      ion-button{
        margin: 30px 0;
        font-weight: 600;
        letter-spacing: 0;
        min-height: 46px;
        text-transform: capitalize;
        --background: #ed8779;
      }
      a {
        color: #fff;
        &.fg-pass
        {
          text-decoration: none;
          text-align: center;
          display: inherit;
        }
        &:hover{
          color:  #ed8779;
        }
      }
      h1 {
        font-size: 30px;
        font-weight: bold;
      }
      p {
        padding-bottom: 30px;
      }
    }
    ion-text.footer  {
      display: block;
      position: relative;
      z-index: 2;
      font-size: 14px;
      text-align: center;
      color: #fff;
      a{
          color: #fff;
          text-decoration: none;
          &.skip{
              float: right;
          }
          &:hover{
              color:  #ed8779;
          }
      }
    }  
}