<ion-content>
  <ion-text class="back-header">
      <a href="#" class="back"><ion-icon name="arrow-back"></ion-icon> Back</a>
      <a href="#" class="skip">Skip</a>
  </ion-text>
  <ion-card>
    <ion-text color="secondary">
        <h1>Create Account</h1>
        <p>
            and start meeeting new friends around the world
        </p>
    </ion-text>
    <!-- Input with placeholder -->
    <ion-input placeholder="Username"><ion-icon name="person"></ion-icon></ion-input>
    <ion-input placeholder="Email"><ion-icon name="mail"></ion-icon></ion-input>
    <ion-input type="password" placeholder="Password"><ion-icon name="lock"></ion-icon></ion-input>
    <ion-button expand="block">Sign up</ion-button>
    <ion-text color="secondary">
        <p>
            Terms of Use and Privacy Policy
        </p>
    </ion-text>
  </ion-card>
  <ion-text class="footer">
    <p>
        Already have account? <a href="/login">Log in</a>
    </p>
</ion-text>
</ion-content>